* {
    margin: 0;
    padding: 0;
}
header{
    height: 80px;
    background-color: #2C2C54;
}
nav h1{
    color: black;
    width: 500px;
    font-family: 'Gugi', cursive;
    font-weight: 700;
    margin-top: 16px;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    font-size: 43px;
}
nav a{
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    color: black;
    list-style: none;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 80px;
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    font-family: 'Gugi', cursive;
    font-size: 30px;
    width: 120px;
    margin-top: 23px;
    flex:1;
    font-weight: bold;
}
